@import "./base.css";
/* 
* {
  outline: 1px solid lime;
} */

.next-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--color-text);
  cursor: pointer;
  display: inline-block;
  font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.next-button:disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: var( --color-background-soft);
}

.next-button:hover {
  color: var(--color-text);
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.next-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.next-button:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.green {
  background-color: var(--color-background-green);
  color: var(--color-text);
}

.green:hover {
  background-color: var(--color-green-effects);
  color: var(--color-text-soft);
}

.green:active {
  background-color: var(--color-green-effects);
  color: var(--color-text-soft);
}

.green:focus {
  background-color: var(--color-green-effects);
  color: var(--color-text-soft);
}

.red {
  background-color:var(--color-background-red);
  color: var(--color-text);
}

.red:hover {
  background-color: var(--color-red-effects);
  color: var(--color-text-soft);
}

.red:active {
  background-color: var(--color-red-effects);
  color: var(--color-text-soft);
}

.red:focus {
  background-color: var(--color-red-effects);
  color: var(--color-text-soft);
}

.blue {
  background-color: var(--color-background-blue);
  color: var(--color-text);
}

.blue:hover {
  background-color: var(--color-blue-effects);
  color: var(--color-text-soft);
}

.blue:active {
  background-color: var(--color-blue-effects);
  color: var(--color-text-soft);
}

.blue:focus {
  background-color:var(--color-blue-effects);
  color: var(--color-text-soft);
}

.fancy {
  position: relative;
  white-space: nowrap;
}
.fancy:after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}
.fancy:hover:after {
  animation: fancy 20s infinite;
}

@keyframes fancy {
  0% {
    background-position: 0em;
  }

  50% {
    background-position: 50em;
  }

  100% {
    background-position: 100em;
  }
}

